export POSTGRES_DB=cytydb
export POSTGRES_USER=cytyuser
export POSTGRES_PASSWORD=cytypw
export SSL_MODE=disable

export DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=${SSL_MODE}